{% extends "layout.html" %}
{% block content %}

	<head>
		<link rel="stylesheet" href="{{ url_for('static',filename='Stylesheets/review_checkout.css') }}">
	</head>
    <div class="container">
	<form class="form-container" method="POST" action="">
		<br>
	
	{{ form.csrf_token }}
    <h1>REVIEW ORDER</h1>
    <tbody>
	{% for i in range(products|length) %}
        <div class="productinfo">
            <tr>
                <td>{{products[i].name}} / </td>
                <td>Quantity: {{quantitys[i]}} / </td>
                <td>£{{products[i].basePrice}}0</td>
            </tr>
            <tr></tr>
        </div>
    {% endfor %}
	</tbody>
	<br><br>
	<h2 class="total"> £{{total}}0</h2>	
	<input type="submit" value="Confirm checkout" class="btn">
	</form>
    </div>
{% endblock content %}