
{% extends "layout.html" %}
{% block content %}

	<head>
		<link rel="stylesheet" href="{{ url_for('static',filename='Stylesheets/accountDetails.css') }}">
	</head>
	<div class="container">
        <br>
        <div><img class="uimage" src="{{ url_for('static',filename='icons/profile.png') }}" alt="profile image"></div>
        
		<br>
		<h3 class="mainTitle">ACCOUNT DETAILS:</h3>
        <br>
        
       <label for="email" class="label1">Email Address:</label>
       <input type="text" class="input2" id="email" name="email" placeholder={{current_user.email}}>
       <br>

       <label for="name" class="label1">Username:</label>
       <input type="text" class="input2" id="name" name="name" placeholder={{current_user.username}}>
			
        <a href="{{ url_for('change_email') }}"><input type="submit" value="Change email address" class="btn" id="c_email"></a>
        <a href="{{ url_for('change_username') }}"><input type="submit" value="Change Username" class="btn" id="c_name"></a>
		<a href="{{ url_for('change_password') }}"><input type="submit" value="Change password" class="btn" id="c_password"></a>
    </div>


{% endblock content %}