<!just the basket thing duplicated ready to be a landmark lists page?>
{% extends "layout.html" %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Your Landmarks</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Stylesheets/lists.css') }}">
  </head>
  <body>
    <br><br>
    <section class="container content-section">
        {% if Landmark|length == 0 %}
        <div style="text-align: center;">
        <h2 class="section-header" style="text-align: center;">You don't have any lists</h2>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <a href="{{url_for('home')}}">Back to Map</a>
        </div>
        {% else %}
        <h2 class="section-header">Your Lists</h2>
        <br>
        <table>
          <thead>
            <th class="List-name List-header">Landmark</th>
            <th class="Landmark-name Landmark-header">Landmark</th>
            <th class="Landmark-note Note-header">Note</th>
          </thead>
          <tbody>
            {% for i in range(Landmark|length) %}
            <tr>
              <td>{{Landmark[i].name}}</td>
              <td>{{Note[i]}}</td>
              <td><a href= "{{url_for('removenote', id=Landmark[i].id)}}">Remove</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
    </section>
  </body>
  {% endblock content %}
