{% extends "layout.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='Stylesheets/products.css') }}">
</head>
<form name="Sorting" action='' method="GET">
  <!-- TODO: buttons for sorting and filtering products -->
    <h5>Sort by:</h5>
    <select name="Sort" id="sort">
        <option {% if (sortingcriteria=='None') %}selected{% endif %}>None</option>
        <option {% if (sortingcriteria=='Name') %}selected{% endif %}>Name</option>
        <option {% if (sortingcriteria=='Highest Price') %}selected{% endif %}>Highest Price</option>
        <option {% if (sortingcriteria=='Lowest Price') %}selected{% endif %}>Lowest Price</option>
        <option {% if (sortingcriteria=='Stock') %}selected{% endif %}>Stock</option>
    </select>
    <select name="Perpage" id="perpage">
        <option {% if (perpage==10) %}selected{% endif %}>Per-page: 10</option>
        <option {% if (perpage==20) %}selected{% endif %}>Per-page: 20</option>
        <option {% if (perpage==30) %}selected{% endif %}>Per-page: 30</option>
        <option {% if (perpage==50) %}selected{% endif %}>Per-page: 50</option>
    </select>
    {{ form.submit }}

    {% if (current_user.is_authenticated and current_user.admin) %}
      <a style="float: right;" href="{{ url_for('create_product') }}">Create Product</a>
    {% endif %}
</form>

{% from 'macros.html' import page_numbers %}
{{ page_numbers(products.page, products.pages, 'products') }}
<br />

<div class="productlist">

  <!--
    Dynamically generated page numbers
    TODO: form submission of custom page number
  -->
  {% for product in products.items %}
    <div class="productinfo">
      <a href="{{ url_for('product', id=product.id) }}" class="clickitem">
        <h3 class="name">{{ product.name }}</h3>
        <h3 class="price">£{{ '%0.2f'| format(product.basePrice|float)}}</h3>
        <img src="static/Media/ProductImages/{{ product.coverImage }}">
      </a>

      {% if (current_user.is_authenticated) %}

        {% if (current_user.admin) %}
          {% if product.active %}
            <p class="active_product"><em>Published</em></p>
          {% else %}
            <p class="inactive_product"><em>Unpublished</em></p>
          {% endif %}
          <a href="{{ url_for('edit_product', id=product.id) }}">Edit</a>
          <a href="{{ url_for('delete_product', id=product.id) }}">Delete</a>
        {% endif %}
      {% endif %}
    </div>
  {% endfor %}

  <br />
  {{ page_numbers(products.page, products.pages, 'products') }}
  <br />

</div>
{% endblock %}
