{% extends "layout.html" %}
{% block content %}
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Stylesheets/login.css') }}">
</head>
<body>

<!--<form class="form-container" method="POST" action="">-->
<!--  {{ form.csrf_token }}-->
<!--  <div class="user-img"></div>-->
<!--  <br>-->
<!--  <ul class="list">-->
<!--    <li>-->
<!--      <h2>Register</h2>-->
<!--    </li>-->
<!--    <br>-->
<!--    <li>-->
<!--      {{ form.email.label }}</li><li>-->
<!--      {{ form.email }}-->
<!--    </li>-->
<!--    <li>-->
<!--      {{ form.username.label }}</li><li>-->
<!--      {{ form.username }}-->
<!--    </li>-->
<!--    <li>-->
<!--      {{ form.password.label }}</li><li>-->
<!--      {{ form.password }}-->
<!--    </li>-->
<!--    <li>-->
<!--      {{ form.confirm_password.label }}</li><li>-->
<!--      {{ form.confirm_password }}-->
<!--    </li>-->
<!--    <br>-->
<!--    <li>-->
<!--      <a href="{{ url_for('login') }}"><input type="submit" value="Register"></a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</form>-->

  <form class="form-container" method="POST" action="">
    {{ form.csrf_token }}
    <div class="user-img"></div>
    <br>
    <ul class="list">
      <li>
        <h2>Register</h2>
      </li>
      <br>
      <li>
        {{ form.email.label }}</li><li>
        {{ form.email }}
      </li>
      {% for err in form.email.errors %}
          <div class="form-control">
            <ul class="errors">
              <li>{{ err }}</li>
            </ul>
          </div>
      {% endfor %}
      <li>
        {{ form.username.label }}</li><li>
        {{ form.username }}
      </li>
      {% for err in form.username.errors %}
          <div class="form-control">
            <ul class="errors">
              <li>{{ err }}</li>
            </ul>
          </div>
      {% endfor %}
      <li>
        {{ form.password.label }}</li><li>
        {{ form.password }}
      </li>
      {% for err in form.password.errors %}
          <div class="form-control">
            <ul class="errors">
              <li>{{ err }}</li>
            </ul>
          </div>
      {% endfor %}
      <li>
        {{ form.confirm_password.label }}</li><li>
        {{ form.confirm_password }}
      </li>
      {% for err in form.confirm_password.errors %}
          <div class="form-control">
            <ul class="errors">
              <li>{{ err }}</li>
            </ul>
          </div>
      {% endfor %}
      <br>
      <li>
        <a href="{{ url_for('login') }}"><input type="submit" value="Register"></a>
      </li>
    </ul>
  </form>
</body>
{% endblock content %}
