
.content {
  margin-top: 6em;
  text-align: center;
  width: 100%;
}

.delete_product input {
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 40px;
  width: 8%;
}

.content h1 {
  color: red;
  font-size: 36pt;
}
