
.content {
  box-sizing: border-box;
}

.negativespace {
  width: 20%;
  float: left;
}

.product {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 1.5em;
  overflow: hidden;
}

.coverimage {
  display: block;
  float: left;
}

.info {
  display: block;
  float: left;
  padding: 1em;
  max-width: 56%;
}

.stockwarning {
  color: red;
}

.description {
  padding-top: 1em;
  display: flex;
}

.rightmenu {
  padding: 1em;
  float: right;
  min-width: 15%;
  max-width: 15%;
}

.rightmenu button {
  display: block;
  padding: 0.5em;
  width: 100%;
  margin: 0.5em 0em;
}

.edit_number {
  font-size: 1em;
  font-weight: bold;
  width: 3em;
  margin-top: 0.5em;
}

.edit_text {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.edit_description {
  padding-top: 1em;
  display: flex;
  max-width: 26vw;
  max-height: 22em;
  min-width: 20em;
  min-height: 5em;
  width: auto;
  height: auto;
}

.edit_image {
  display: block;
}

.edit_actions {
  width: 100%;
  display: flex;
  float: left;
}

.edit_actions input {
  margin-left: auto;
}

.edit_action {
  padding: 0.5em;
}
