.content{
  width:100%;
}

.container {
  background-color:white;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 400px;
  margin-left: 0;
	margin-right: 90px;
	margin-top: 20px;
  margin-bottom: 10px;
  float: right;
}

.lists{
  background-color:white;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 400px;
  margin-left: 0;
	margin-right: 100px;
	margin-top: 20px;
  margin-bottom: 10px;
  float: right;
}
.uimage{
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.list_item{
  width: 20px;
  font-family: monospace;
}

.list_item:hover{
  background-color: black;
  color: white;
}
.mainTitle{
	color: black;
	font-size:25px;
	font-weight: bold;
}

.image1{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.input2{
  width: 95%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.label1 {
  margin-bottom: 10px;
  color: black;
  display: block;
  font-weight:bold;
}


.btn {
  background-color: #4a3b76;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #ffffff;
  color: #9055A2
}
