.content{
	width:100%;
	height:100%;
}

.productinfo{
	background-color: #c0bbc2;
	width: 100%;
	height: 100%;
    text-align: center;
}

.productinfo button {
    display: block;
    padding: 0.5em;
    width: 100%;
    margin: 0.5em 0em;    
}

.name{
	color: #ffffff;
	text-decoration: none;
	font-size: 30px;
}

.price{
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
}

.pagenav{
	text-decoration:none;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
}

.map{
	width: 100%;
	height: 100%;
}